---
---
@import "{{ site.theme }}";

/* Tes personnalisations */
body {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
  font-size: 1.25rem !important; /* Texte plus grand */
}

header {
  color: #c9d1d9 !important;
}

header h1 a { color: #58a6ff !important; }

h1, h2, h3 { 
  color: #58a6ff !important; 
}

a { 
  color: #58a6ff !important; 
  font-weight: bold; 
}

.wrapper {
  max-width: 1100px !important;
}
